@model IEnumerable<EcommerceAPI.Models.Product>

<br />
<br />
<table class="table">
    <tdead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Description</th>
            <th>Quantity In Stock</th>
        </tr>
    </tdead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Category</td>
                <td>@item.Description</td>
                <td>@item.QuantityInStock</td>
            </tr>
        }
    </tbody>
</table>
</div>
