@model EcommerceProject.Models.ProductViewModel

<h1>Products</h1>
<br />
<br />

<form asp-controller="Products" asp-action="ProductIndex" method="get">
    <p>
        Name: <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(p => p.Products[0].Name)</th>
            <th>@Html.DisplayNameFor(p => p.Products[0].Price)</th>
            <th>@Html.DisplayNameFor(p => p.Products[0].Category)</th>
            <th>@Html.DisplayNameFor(p => p.Products[0].Description)</th>
            <th>@Html.DisplayNameFor(p => p.Products[0].QuantityInStock)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.QuantityInStock)</td>
            </tr>
        }
    </tbody>
</table>
</div>
